.header .landing-logo img, .header p.header_heading, .header p.header_text {
  margin-left: 10%; }

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white; }

.header {
  font-family: "Source Sans Pro"; }
  .header .header-wrap {
    border: 0px;
    border-radius: 0% 0% 42% 0%;
    background: url(../img/m-h-day.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
    z-index: -2; }
  .header .landing-logo {
    display: flex; }
    .header .landing-logo img {
      margin-right: 1%;
      object-fit: contain;
      margin-top: -5px; }
    .header .landing-logo p {
      margin-top: 7px;
      flex-direction: column;
      text-align: left;
      font-size: 1.2em;
      font-weight: bold;
      color: #2c2e3c;
      padding-top: 0.2em;
      font-family: "Hind", sans-serif;
      font-family: "Hind"; }
    .header .landing-logo span {
      margin-top: -5px;
      display: block;
      font-size: 0.5em;
      text-indent: 0.4em; }
  .header p.header_heading {
    margin-top: 3px;
    width: 500px;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    color: #2c2e3c;
    display: inline-block; }
  .header p.header_text {
    margin-top: -4%;
    width: 850px;
    font-size: 13px;
    white-space: pre-line;
    line-height: 150%;
    color: #2c2e3c;
    font-family: "Hind", sans-serif; }
    .header p.header_text::before {
      content: '';
      left: 130px;
      top: 130px;
      position: absolute;
      margin-top: 1.3em;
      background-color: #1FBBE9;
      height: 42px;
      width: 260px;
      z-index: -10; }
  .header .header_button {
    height: 44px;
    margin-left: 10%;
    width: 130px;
    background-color: #578b02;
    color: white;
    font-size: 18px;
    font-family: "Hind";
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .header a.login {
    margin-left: 5%;
    color: #f6f6f8;
    font-size: 18px; }

main.section p.section_text {
  text-align: center;
  font-size: 42px;
  font-family: "Hind";
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 38px;
  color: #2c2e3c; }
main.section .section_card_wrap {
  width: 850px;
  margin: 0 auto;
  position: relative; }
  main.section .section_card_wrap::before {
    content: '';
    position: absolute;
    display: inline-block;
    right: 220px;
    width: 190px;
    height: 50px;
    background-color: #1FBBE9;
    top: -95px;
    z-index: -1; }
  main.section .section_card_wrap .section_card {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #2c2e3c;
    border-radius: 5px; }
    main.section .section_card_wrap .section_card .section_card_img {
      width: 100%;
      border-radius: 5px; }
    main.section .section_card_wrap .section_card .section_card_right_container {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white; }
      main.section .section_card_wrap .section_card .section_card_right_container p:first-child {
        text-align: center;
        font-family: "Hind";
        font-weight: bold;
        font-size: 22px; }
      main.section .section_card_wrap .section_card .section_card_right_container p:nth-child(2) {
        text-align: justify;
        font-family: "Hind", sans-serif;
        opacity: 0.7; }
      main.section .section_card_wrap .section_card .section_card_right_container a.section_link {
        margin-left: 5%;
        color: #f6f6f8;
        font-size: 18px; }

.section_banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  background-image: linear-gradient(45deg, #66960c 25%, #487777 55%, #3866b2 75%, #305ecf 100%);
  width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px 0px;
  bottom: -100px; }
  .section_banner p.section_banner_heading {
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    color: #2c2e3c;
    position: relative;
    z-index: 1; }
  .section_banner p.section_banner_text {
    font-family: "Hind", sans-serif;
    color: #f6f6f8; }
    .section_banner p.section_banner_text::before {
      content: '';
      display: block;
      width: 64px;
      height: 40px;
      background-color: #1FBBE9;
      position: absolute;
      top: 7px;
      z-index: 0;
      left: 185px; }
  .section_banner button {
    height: 44px;
    margin-left: 10%;
    width: 130px;
    background-color: #578b02;
    color: white;
    font-size: 18px;
    font-family: "Hind";
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
    align-self: center; }

footer.footer {
  margin-top: 40px;
  height: 200px;
  background-color: #21232E; }
  footer.footer .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7% 60px 0 70px;
    color: #f6f6f8; }
    footer.footer .footer-wrap .footer_logo {
      display: flex;
      flex-direction: row; }
      footer.footer .footer-wrap .footer_logo img {
        align-self: center; }
      footer.footer .footer-wrap .footer_logo p {
        font-family: "Hind", sans-serif;
        font-size: 17px;
        text-align: center;
        font-weight: 700;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        color: #f6f6f8; }
        footer.footer .footer-wrap .footer_logo p span {
          display: block;
          line-height: 10px;
          font-size: 0.5em; }
  footer.footer p.footer_text {
    margin: 0;
    width: 325px;
    font-family: "Hind", sans-serif; }
  footer.footer .footer-cr {
    align-self: center;
    font-family: "Hind", sans-serif; }

/*# sourceMappingURL=style1.css.map */
