$mainColor: 
    ("top": rgb(43, 45, 58),
    "bottom": rgb(52, 55, 75));
$mainFonts:
   ("sans": 'Source Sans Pro',
    "hind": 'Hind');
$headerPicture: url(../img/m-h-night.jpg) no-repeat center;
$buttonColor: #ce8d16;
$logoTextColor: rgb(255, 253, 253);
$headerTextColor: rgb(52, 55, 75);
$header-heading-margin-top: 55px;
$beforeColor: rgb(219, 69, 31);
$textColor: #ffffff;
$bannerGradient: linear-gradient(45deg, #e6be10 25%, #b85819 55%, #af1f7f 75%, #9b2d60 100%);
$mainSectionColor:white;
$containerTextColor: rgb(252, 252, 252);
$sectionFont: 'Fresca',sans-serif;