$mainColor: 
    ("top": white,
    "bottom": #21232E);
$mainFonts: 
    ("sans": 'Source Sans Pro',
    "hind": 'Hind');
$headerPicture: url(../img/m-h-day.jpg) no-repeat center;
$buttonColor: #578b02;
$logoTextColor: #2c2e3c;
$headerTextColor: $logoTextColor;
$header-heading-margin-top: 55px;
$beforeColor: #1FBBE9;
$textColor: #f6f6f8;
$bannerGradient: linear-gradient(45deg, #66960c 25%, #487777 55%, #3866b2 75%, #305ecf 100%);
$mainSectionColor:#2c2e3c;
$containerTextColor: white;
$sectionFont: 'Hind', sans-serif;